/*orientacion del documento*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/*Diseño y orientacion del contenido del cuerpo del documento*/
body {
    background: #f8f8f805; /* Color oscuro de fondo para todo el cuerpo */
    display: flex;
    justify-content: center; /* orientacion del contenido*/
    align-items: center;/*alineacion*/
    height: 100vh;
}

/*diseño del contenedor del forumario*/
.login-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/*ruta y deiseño de la imagen*/
.image-section {
    flex: 1;
    background: url('../images/banner.jpg') no-repeat center center;
    background-size: cover;
}

.form-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-section h2 {
    font-size: 32px;
    color: #005f73;
    margin-bottom: 20px;
}

.form-section p {
    color: #6c757d;
    font-size: 16px;
    margin-bottom: 20px;
}

/*diseño de contendor correo y contraseña*/
input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background: #f7f7f7;
}

/*diseño del boton de ingresar */
.btn-primary {
    width: 100%;
    padding: 15px;
    background: #00A9B8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/*efecto del boton al pasar el cursor*/
.btn-primary:hover {
    background: #008b9d;
}

/*efecto responsivo de la imagen al ajustar el navegador*/
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .image-section {
        display: none; /* Ocultar la imagen en pantallas pequeñas */
    }
}