/* Orientación del documento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Diseño y orientación del contenido del cuerpo del documento */
body {
    background: #e0e1eb05; /* Color claro de fondo */
    display: flex;
    justify-content: center; /* Centrar el contenido horizontalmente */
    align-items: center; /* Centrar el contenido verticalmente */
    height: 100vh;
}

/* Contenedor del formulario */
.card {
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Sección del formulario */
.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-section h2 {
    font-size: 32px;
    color: #005f73;
    margin-bottom: 20px;
}

.form-section p {
    color: #6c757d;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Campos de entrada: correo y contraseña */
input[type="email"], input[type="password"], input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background: #f7f7f7;
}

/* Botón de registro */
.btn-primary {
    width: 100%;
    padding: 15px;
    background: #00A9B8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Efecto del botón al pasar el cursor */
.btn-primary:hover {
    background: #008b9d;
}

/* Responsivo: ajustar en pantallas pequeñas */
@media (max-width: 768px) {
    .container {
        width: 90%; /* Asegurar que el contenedor no se extienda demasiado */
    }

    .form-section {
        padding: 10px;
    }
}
